body, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Inconsolata;
    overflow-wrap: break-word;
    /* margin: 0 150px; */
    margin: 0 10%;
}

.page {
    width: 100%;
}

#nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

h1 {
    display: flex;
    justify-content: left;
    width: 100%;
    font-size: x-large;
    padding-left: 25px;
}

.tutorial {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
    font-weight: bold;
}

h2 {
    margin-right: auto;
    padding-right: 75px;
    text-align: center;
    width: 400px;
    line-height: 1.25;
    color: white;
    align-items: center;
    transform: scaleX(-1);
}

h4 {
    font-size: large;
    font-weight: bold;
}

.homeHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65vh;
    margin: 0;
    background-image: url('bass.jpg');
    transform: scaleX(-1);
    background-size: cover;
}

.getStarted {
    margin-top: 40px;
    font-size: x-large;
}

.pieces {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 15px;
    margin-top: 35px;
    width: 356.8px;
    cursor: pointer;
}

.accordion-trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.addPiece {
    width: 40px;
    height: 40px;
}

.composer {
    padding-right: 6px;
}

.title {
    justify-content: left;
}

.accordion-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet {
    border: 5px solid #323639;
}

#library:not(.hide) {
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}

.genre {
    display: flex;
    justify-content: center;
}

.highlight {
    border: 5px solid greenyellow;
}

.librarySide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 65%;
}

aside {
    border: 1px solid black;
    align-self: flex-start;
    width: 35%;
    padding: 25px;
    margin: 45px;
}

.list-piece {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    margin-bottom: 5px;
    cursor: move;
}

.pieceContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: move;
}

.list-piece.dragging {
    opacity: 0.5;
}

h3 {
    border-bottom: 1px solid black;
}

.pieceText {
    width: 50%;
}

.removePiece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.auditionListTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#auditionListClose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.audition-list-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#combinedPdfsFrame {
    display: none;
    width: 100%;
    height: 450px;
    border: 5px solid #323639;
}

#combinePDFS {
    margin-top: 15px;
    width: 50%;
}

#downloadPDF {
    margin-top: 15px;
    width: 50%;
}

button {
    font-family: Inconsolata;
}

.checkBoxContainer {
    display: flex;
}

.fullPieceText{
    font-size: x-small;
}

.sheet {
    max-width: 100%;
    height: 420px;
}

select {
    width: 35%;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.upButton {
    display: none;
    width: 30px;
    height: 30px;
}

.downButton {
    display: none;
    width: 30px;
    height: 30px;
} 


@media screen and (max-width:1170px) {
    h2 {
        margin-right: auto;
        padding-right: 10vh;
        text-align: center;
        width: 340px;
        font-size: x-large;
        line-height: 1.15;
        color: white;
        align-items: center;
        transform: scaleX(-1);
    }
}

@media screen and (max-width:950px) {
    h2 {
        margin-right: auto;
        padding-right: 10vh;
        text-align: center;
        width: 200px;
        font-size: x-large;
        line-height: 1;
        color: white;
        align-items: center;
        transform: scaleX(-1);
    }
}

@media screen and (max-width:850px){

    body {
        margin: 0;
    }

    #library:not(.hide) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .librarySide {
        width: 100%;
    }


    .search-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #search {
        width: 200px;
    }

    .piece {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        padding: 15px;
        margin-top: 35px;
        width: 325px;
        cursor: pointer;
        text-align: left;
    }

    .pieceContent {
        flex-direction: column;
    }

    .addPiece {
        width: 30px;
        height: 30px;
    }

    .flex-row {
        flex-direction: column;
    }

    #auditionListClose {
        width: 30px;
        height: 30px;
    }

    .list-piece {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: auto;
        margin-bottom: 5px;
        cursor: move;
    }

    aside {
        border: 1px solid black;
        padding: 25px;
        margin: 45px;
        width: 325px;
        align-self: auto;
    }

    select {
        width: 100px;
        margin-bottom: 8px;
    }

    .highlight {
        border: 5px solid blueviolet;
    }

    .upButton {
        display: block;
        width: 30px;
        height: 30px;
    }
    
    .downButton {
        display: block;
        width: 30px;
        height: 30px;
    } 
}