body, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Inconsolata;
}

h1 {
    display: flex;
    justify-content: left;
    width: 100%;
    font-size: x-large;
    padding-left: 25px;
}

.home-text {
    margin-top: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    width: 90%;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

h2 {
    width: 50%;
    text-align: center;
}

.pieces {
    padding-bottom: 50px;
}

.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0px;
    margin-top: 35px;
    width: 450px;
    cursor: pointer;
}

.accordion-trigger {
    cursor: pointer;
}


.composer {
    padding-right: 6px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 175px;
    text-align: center;
}

.sheet {
    padding-bottom: 10px;
}

.hide {
    display: none;
}

.genre {
    display: flex;
    justify-content: center;
}

.addPiece {
    width: 100%;
    margin-left: 100%;
}

.accordion-trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.librarySide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed black;
    width: 50vw;
}

#library {
    display: flex;
    flex-direction: row;
}

aside {
    border: 1px solid black;
    align-self: flex-start;
    width: 350px;
    padding: 25px;
    margin: 45px;
}

.list-piece {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    height: 5px;
    margin-bottom: 10px;
    cursor: move;
}

.list-piece.dragging {
    opacity: 0.5;
}

h3 {
    border-bottom: 1px solid black;
}

.removePiece {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}