body, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Inconsolata;
    overflow-wrap: break-word;
}

.page {
    width: 100%;
}

#nav-wrapper {
    width: 90%;
    height: 120px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: left;
    width: 100%;
    font-size: x-large;
    padding-left: 25px;
}

.home-text {
    margin-top: 50px;
}

.tutorial {
    border: 1px solid black;
    border-radius: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    width: 90%;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

h2 {
    width: 50%;
    text-align: center;
}

.pieces {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 15px;
    margin-top: 35px;
    width: 80%;
    cursor: pointer;
}

.accordion-trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.addPiece {
    width: 40px;
    height: 40px;
}

.composer {
    padding-right: 6px;
}

.title {
    justify-content: left;
}

.accordion-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet {
    border: 5px solid #323639;
}

#library:not(.hide) {
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}

.genre {
    display: flex;
    justify-content: center;
}

.highlight {
    border: 5px solid blueviolet;
}

.librarySide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 65%;
}

aside {
    border: 1px solid black;
    align-self: flex-start;
    width: 35%;
    padding: 25px;
    margin: 45px;
}

.list-piece {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    height: auto;
    margin-bottom: 10px;
    cursor: move;
}

.list-piece.dragging {
    opacity: 0.5;
}

h3 {
    border-bottom: 1px solid black;
}

.pieceText {
    width: 50%;
}

.removePiece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.auditionListTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#auditionListClose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.audition-list-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#combinedPdfsFrame {
    display: none;
    width: 100%;
    height: 450px;
    border: 5px solid #323639;
}

#combinePDFS {
    margin-top: 15px;
    width: 50%;
}

#downloadPDF {
    margin-top: 15px;
    width: 50%;
}

button {
    font-family: Inconsolata;
}

.checkBoxContainer {
    display: flex;
}

.fullPieceText{
    font-size: x-small;
}

.sheet {
    max-width: 100%;
    height: 420px;
}

select {
    width: 35%;
}


@media screen and (max-width:850px){

    #library:not(.hide) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .librarySide {
        width: 100%;
    }


    .search-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #search {
        width: 200px;
    }

    .piece {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        padding: 15px;
        margin-top: 35px;
        width: 325px;
        cursor: pointer;
        text-align: left;
    }

    .addPiece {
        width: 30px;
        height: 30px;
    }

    .flex-row {
        flex-direction: column;
    }

    #auditionListClose {
        width: 30px;
        height: 30px;
    }

    .list-piece {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border: 1px solid black;
        height: auto;
        margin-bottom: 5px;
        cursor: move;
    }

    aside {
        border: 1px solid black;
        padding: 25px;
        margin: 45px;
        width: 325px;
        align-self: auto;
    }

    select {
        width: 100px;
        margin-bottom: 8px;
    }

    .highlight {
        border: 5px solid blueviolet;
    }
}